@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Yekan", "tahoma", "Ubunt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  transition: all 0.5s ease;
  scroll-behavior: smooth;

}